@model FirstResponsiveWebAppBANKS.Models.FirstResponsiveModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Name and Birthday</h1>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="YourName" class="control-label">Name:</label>
            <input asp-for="YourName" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="control-label">Birthday:</label>
            <input asp-for="Birthday" class="form-control"/>
        </div>
        <div>
            <label>Your Name:</label>
            <input value="@ViewBag.FRN.ToString()"/>
        </div>
        <div>
            <label>Your Age Now:</label>
            <input value="@ViewBag.FRAN.ToString()"/>
        </div>
        <div>
            <label>Your Age on 31 December:</label>
            <input value="@ViewBag.FRAL.ToString()"/>
        </div>
        <button type="submit">Submit</button>
        <a asp-action="Index">Clear</a>
    </form>
</body>
</html>
